@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Montserrat",sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
html {
    overflow: scroll;
    overflow-x: hidden;
}
body {
    background-color: #0B0C10;
    color: #ffffff;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /* background: #FF0000; */
}
i{
    cursor: pointer;
}
i:hover{
    color: white;
    font-size: 25px;
}

.T{
    animation: T 1s infinite;
}

@keyframes T {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
    
}
.R{
    animation:R 1s infinite;
}

@keyframes R {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}